<div id='container'>
    <a href="/#/shorten">Shorten Links</a>
    <a href="/">View Links</a>
<!-- Your code here -->
<div ng-controller='ShortenController'>
<form ng-app='' name='shortenForm' novalidate ng-click='addLink()'>
    <input type='url' name='url' required ng-model='link.url' />
    <span ng-show='shortenForm.url.$error.url'>Invalid URL</span>
    <input type='submit' value='submit'  ng-disabled='shortenForm.url.$dirty && shortenForm.url.$invalid'>
    <span>{{res}}</span>
    </form>
</div>
</div>


